<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>assesment</title>
  <link href="no_assesment_style.css" rel="stylesheet">

</head>
<body>
<header>
    <h1>PwsAssesment（仮）</h1>
</header>

<div class="all-contents">



<p>ポジション</p>
<form class="posisions">
    <div class="all-posisions">
       <div class="FW">
                 <input type="radio" name="posision" value="LWG" id="LWG">
        <label id="LWG" class="posision" for="LWG">LWG</label>




        <input type="radio" name="posision" value="CF" id="CF">
    <label id="CF" class="posision" for="CF">CF</label>


    <input type="radio" name="posision" value="RWG" id="RWG">
    <label id="RWG" class="posision" for="RWG">RWG</label>
    <input type="radio" name="posision" value="ST" id="ST">
    <label id="ST" class="posision" for="ST">ST</label>

       </div>
    <div class="MF">
        <input type="radio" name="posision" value="OMF" id="OMF">
    <label id="OMF" class="posision" for="OMF">OMF</label>
    <input type="radio" name="posision" value="LMF" id="LMF">
    <label id="LMF" class="posision" for="LMF">LMF</label>
    <input type="radio" name="posision" value="CMF" id="CMF">
    <label id="CMF" class="posision" for="CMF">CMF</label>
    <input type="radio" name="posision" value="RMF" id="RMF">
    <label id="RMF" class="posision" for="RMF">RMF</label>
    <input type="radio" name="posision" value="DMF" id="DMF">
    <label id="DMF" class="posision" for="DMF">DMF</label>
        </div>


    <div class="DF">
        <input type="radio" name="posision" value="LSB" id="LSB">
    <label id="LSB" class="posision" for="LSB">LSB</label>
    <input type="radio" name="posision" value="CB" id="CB">
    <label id="CB" class="posision" for="CB">CB</label>
    <input type="radio" name="posision" value="RSB" id="RSB">
    <label id="RSB" class="posision" for="RSB">RSB</label>
        </div>


    <div class="GK">
        <input type="radio" name="posision" value="GK" id="GK">
    <label id="GK" class="posision" for="GK">GK</label>
        </div>


    </div>
</form>



<h2>パワサカ君の状態</h2>
    <p>経験点</p>
<div class="points">

        <div class="status physical">
            <input type="number" min="0" max="999" placeholder="" class="detail" name="physical">
            <label>筋力</label>
            <span class=""></span>
        </div>
        <div class="status speed">
            <input type="number" min="0" max="999"  placeholder="" class="detail" name="speed">
            <label>敏捷</label>
            <span class=""></span>
        </div>
        <div class="status tecnic">
            <input type="number" min="0" max="999"  placeholder="" class="detail" name="tecnic">
            <label>技術</label>
            <span class=""></span>
        </div>
        <div class="status mental">
            <input type="number" min="0" max="999"  placeholder="" class="detail" name="mental">
            <label>精神</label>
            <span class=""></span>
        </div>

</div>
<p>基本ステータス</p>
<div class="statuses">

    <div class="status ofe">
        <input type="number" min="1" max="101" placeholder="" class="detail">
        <label>OFE</label>
        <span class="focus_line"></span>
    </div>
    <div class="status def">
        <input type="number" min="1" max="101" placeholder="" class="detail">
        <label>DEF</label>
        <span class="focus_line"></span>
    </div>
    <div class="status pow">
        <input type="number" min="1" max="101" placeholder="" class="detail">
        <label>POW</label>
        <span class="focus_line"></span>
    </div>
    <div class="status spd">
        <input type="number" min="1" max="101" placeholder="" class="detail">
        <label>SPD</label>
        <span class="focus_line"></span>
    </div>
    <div class="status tec">
        <input type="number" min="1" max="101" placeholder="" class="detail">
        <label>TEC</label>
        <span class="focus_line"></span>
    </div>
    <div class="status sta">
        <input type="number" min="1" max="101" placeholder="" class="detail">
        <label>STA</label>
        <span class="focus_line"></span>
</div>

</div>




<p>取得済みの特殊能力</p>

<div class="specialities">
    <div class="speciality">
    <label class="s-name">ビハインド○</label>
    <form class="kotsu-lv">

        <input type="radio" name="kotsu" value="0" id="0">
        <label for="0" class="select">0</label>
        <input type="radio" name="kotsu" value="1" id="1">
        <label for="1" class="select">1</label>
        <input type="radio" name="kotsu" value="2" id="2">
        <label for="2" class="select">2</label>
        <input type="radio" name="kotsu" value="3" id="3">
        <label for="3" class="select">3</label>
        <input type="radio" name="kotsu" value="4" id="4">
        <label for="4" class="select">4</label>
        <input type="radio" name="kotsu" value="5" id="5">
        <label for="5" class="select">5</label>
        <input type="radio" name="kotsu" value="6" id="6">
        <label for="6" class="select">got</label>

    </form>
    </div>
</div>






</div>





</body>
</html>
